/.classpath
/.project
/bin/protoc/0ImageTest.lst
/bin/protoc/0insub4.lst
/bin/protoc/0KGSTest.lst
/bin/protoc/0Pablo.lst
/bin/protoc/0PabloNew.lst
/bin/protoc/00insub-v1.lst
/bin/protoc/00insub-v2.lst
/bin/protoc/00insub-v3.lst
/bin/protoc/00insub-v4.lst
/bin/protoc/00insub-v5.lst
/bin/Multimedia/1M.mp4
/default/Multimedia/1M.mp4
/bin/Multimedia/1TT.mp4
/default/Multimedia/1TT.mp4
/bin/protoc/ALCA EJEMPLO.lst
/bin/resources/images/all_icons.psd
/bin/com/vitact/eegcontrol/application.css
/bin/Multimedia/pequenas/Archive.zip
/bin/Multimedia/blanco.bmp
/bin/com/vitact/eegcontrol/CameraControl.fxml
/bin/com/vitact/eegcontrol/CameraController$1.class
/bin/com/vitact/eegcontrol/CameraController$2.class
/bin/com/vitact/eegcontrol/CameraController.class
/bin/com/vitact/eegcontrol/bean/ComPortBean.class
/bin/Multimedia/CIRCULO2.PNG
/windows-repository/CP210x_Windows_Drivers.zip
/bin/resources/images/continue_icon.png
/CurrentExperiment.log
/CurrentExperiment_Events.log
/bin/resources/images/eeg_icon.ico
/bin/resources/images/eeg_icon.png
/bin/resources/images/eeg_icon_negative.ico
/bin/resources/images/eeg_icon_negative.png
/bin/com/vitact/eegcontrol/EEGControl$1.class
/bin/com/vitact/eegcontrol/EEGControl$2.class
/bin/com/vitact/eegcontrol/EEGControl.class
/bin/com/vitact/eegcontrol/EEGControl.fxml
/EEGControl.log
/bin/com/vitact/eegcontrol/EEGPortsControl.fxml
/bin/com/vitact/eegcontrol/EEGPortsViewController.class
/bin/com/vitact/eegcontrol/EEGProtocolProgress.fxml
/bin/com/vitact/eegcontrol/EEGProtocolProgressController.class
/bin/com/vitact/eegcontrol/EEGStudyLoader.fxml
/bin/com/vitact/eegcontrol/EEGStudyLoaderController.class
/bin/com/vitact/eegcontrol/EEGViewController.class
/bin/protoc/EMOCION_ARGENTINA.lst
/bin/0001/estudio-0001.dat
/bin/stim/estim.txt
/bin/com/vitact/eegcontrol/bean/EstimulusBean.class
/bin/0000/estudio-0000.dat
/estudios/0001/estudio-0001.dat
/bin/0002/estudio-0002.dat
/estudios/0002/estudio-0002.dat
/bin/0003/estudio-0003.dat
/estudios/0003/estudio-0003.dat
/bin/0004/estudio-0004.dat
/bin/com/vitact/eegcontrol/bean/EventBean.class
/bin/0000/eventos-0000-02.log
/bin/0001/eventos-0001-2Incorrectos1CorrectoNormal.log
/estudios/0001/eventos-0001-2Incorrectos1CorrectoNormal.log
/bin/0001/eventos-0001-2Incorrectos1CorrectoNormal_analisis.csv
/estudios/0001/eventos-0001-2Incorrectos1CorrectoNormal_analisis.csv
/bin/0001/eventos-0001-2Incorrectos1CorrectoNormal_resumen.txt
/estudios/0001/eventos-0001-2Incorrectos1CorrectoNormal_resumen.txt
/bin/0001/eventos-0001-02.log
/estudios/0001/eventos-0001-02.log
/bin/0001/eventos-0001-04.log
/estudios/0001/eventos-0001-04.log
/bin/0001/eventos-0001-06.log
/estudios/0001/eventos-0001-06.log
/bin/0001/eventos-0001-08.log
/estudios/0001/eventos-0001-08.log
/bin/0001/eventos-0001-08_analisis.csv
/estudios/0001/eventos-0001-08_analisis.csv
/bin/0001/eventos-0001-08_resumen.txt
/estudios/0001/eventos-0001-08_resumen.txt
/bin/0002/eventos-0002-02.log
/estudios/0002/eventos-0002-02.log
/bin/0002/eventos-0002-04.log
/estudios/0002/eventos-0002-04.log
/bin/0003/eventos-0003-02.log
/estudios/0003/eventos-0003-02.log
/bin/0004/eventos-0004-02.log
/bin/0004/eventos-0004-04.log
/bin/resources/images/fin-experimento.png
/bin/resources/images/fondo-experimento.psd
/bin/resources/images/glasses_icon.png
/bin/protoc/HORIZONTAL-VERTICAL-ARGENTINA.lst
/bin/resources/images/inicio-experimento.png
/bin/resources/images/inicio-experimento-insub.png
/windows-repository/JavaFX-16-windows.zip
/bin/log4j2.xml
/bin/resources/images/Logo_Vitact_Cuadrado.jpg
/windows-repository/jdk-15.zip
/bin/resources/images/kgs.ico
/bin/resources/images/KGS.jpg
/bin/Multimedia/Lenna.png
/bin/resources/images/Logo_Vitact_Cuadrado_transparente.png
/.settings/org.eclipse.jdt.core.prefs
/.settings/org.eclipse.jdt.launching.prefs
/bin/com/vitact/eegcontrol/bean/MultimediaBean.class
/bin/protoc/N-L-ARGENTINA.lst
/bin/resources/images/new_icon.png
/bin/com/vitact/eegcontrol/NotifyingThread.class
/windows-repository/opencv-4.5.1-vc14_vc15.exe
/windows-repository/PL2303_Prolific_DriverInstaller_v1190.zip
/bin/resources/properties.ini
/bin/com/vitact/eegcontrol/opencv/OpenCVTransform.class
/bin/0001/org.vitact.result.beans.EventsFileBean@7bc79f1d_analisis.csv
/estudios/0001/org.vitact.result.beans.EventsFileBean@7bc79f1d_analisis.csv
/bin/0001/org.vitact.result.beans.EventsFileBean@7bc79f1d_resumen.txt
/estudios/0001/org.vitact.result.beans.EventsFileBean@7bc79f1d_resumen.txt
/params.txt
/bin/properties.ini
/bin/com/vitact/eegcontrol/bean/ProtocolBean.class
/bin/0000/protocolo-0000-02.dat
/bin/0000/protocolo-0000-02.log
/bin/0001/protocolo-0001-02.dat
/estudios/0001/protocolo-0001-02.dat
/bin/0001/protocolo-0001-02.log
/estudios/0001/protocolo-0001-02.log
/bin/0001/protocolo-0001-04.dat
/estudios/0001/protocolo-0001-04.dat
/bin/0001/protocolo-0001-04.log
/estudios/0001/protocolo-0001-04.log
/bin/0001/protocolo-0001-06.dat
/estudios/0001/protocolo-0001-06.dat
/bin/0001/protocolo-0001-06.log
/estudios/0001/protocolo-0001-06.log
/bin/0001/protocolo-0001-08.dat
/estudios/0001/protocolo-0001-08.dat
/bin/0001/protocolo-0001-08.log
/estudios/0001/protocolo-0001-08.log
/bin/0002/protocolo-0002-02.dat
/estudios/0002/protocolo-0002-02.dat
/bin/0002/protocolo-0002-02.log
/estudios/0002/protocolo-0002-02.log
/bin/0002/protocolo-0002-04.dat
/estudios/0002/protocolo-0002-04.dat
/bin/0002/protocolo-0002-04.log
/estudios/0002/protocolo-0002-04.log
/bin/0003/protocolo-0003-02.dat
/estudios/0003/protocolo-0003-02.dat
/bin/0003/protocolo-0003-02.log
/estudios/0003/protocolo-0003-02.log
/bin/0004/protocolo-0004-02.dat
/bin/0004/protocolo-0004-02.log
/bin/0004/protocolo-0004-04.dat
/bin/0004/protocolo-0004-04.log
/bin/com/vitact/eegcontrol/ProtocolThread$1.class
/bin/com/vitact/eegcontrol/ProtocolThread$2.class
/bin/com/vitact/eegcontrol/ProtocolThread$3.class
/bin/com/vitact/eegcontrol/ProtocolThread$4.class
/bin/com/vitact/eegcontrol/ProtocolThread$5.class
/bin/com/vitact/eegcontrol/ProtocolThread$6.class
/bin/com/vitact/eegcontrol/ProtocolThread$7.class
/bin/com/vitact/eegcontrol/ProtocolThread$8.class
/bin/com/vitact/eegcontrol/ProtocolThread$9.class
/bin/com/vitact/eegcontrol/ProtocolThread$10.class
/bin/com/vitact/eegcontrol/ProtocolThread$11.class
/bin/com/vitact/eegcontrol/ProtocolThread$12.class
/bin/com/vitact/eegcontrol/ProtocolThread.class
/bin/Multimedia/punto_central.jpg
/bin/Multimedia/punto_central.xcf
/bin/Multimedia/stim_letra_a_mayuscula.jpg
/bin/Multimedia/pequenas/stim_diagonal_ascendente.jpg
/bin/Multimedia/stim_diagonal_ascendente.jpg
/bin/Multimedia/pequenas/stim_diagonal_descendente.jpg
/bin/Multimedia/stim_diagonal_descendente.jpg
/bin/Multimedia/stim_diagonal_descendente.psd
/bin/Multimedia/stim_figura_circulo.jpg
/bin/Multimedia/stim_figura_cuadrado.jpg
/bin/Multimedia/stim_figura_rectangulo.jpg
/bin/Multimedia/stim_figura_triangulo.jpg
/bin/Multimedia/pequenas/stim_letra_a_mayuscula.jpg
/bin/Multimedia/stim_letra_a_mayuscula.psd
/bin/Multimedia/pequenas/stim_letra_e_mayuscula.jpg
/bin/Multimedia/stim_letra_e_mayuscula.jpg
/bin/Multimedia/stim_letra_e_mayuscula.psd
/bin/Multimedia/pequenas/stim_letra_i_mayuscula.jpg
/bin/Multimedia/stim_letra_i_mayuscula.jpg
/bin/Multimedia/stim_letra_i_mayuscula.psd
/bin/Multimedia/pequenas/stim_letra_l_mayuscula.jpg
/bin/Multimedia/stim_letra_l_mayuscula.jpg
/bin/Multimedia/stim_letra_l_mayuscula.psd
/bin/Multimedia/pequenas/stim_letra_m_mayuscula.jpg
/bin/Multimedia/stim_letra_m_mayuscula.jpg
/bin/Multimedia/stim_letra_m_mayuscula.psd
/bin/Multimedia/pequenas/stim_letra_n_mayuscula.jpg
/bin/Multimedia/stim_letra_n_mayuscula.jpg
/bin/Multimedia/stim_letra_n_mayuscula.psd
/bin/Multimedia/pequenas/stim_letra_o_mayuscula.jpg
/bin/Multimedia/stim_letra_o_mayuscula.jpg
/bin/Multimedia/stim_letra_o_mayuscula.psd
/bin/Multimedia/pequenas/stim_letra_p_mayuscula.jpg
/bin/Multimedia/stim_letra_p_mayuscula.jpg
/bin/Multimedia/stim_letra_p_mayuscula.psd
/bin/Multimedia/pequenas/stim_letra_s_mayuscula.jpg
/bin/Multimedia/stim_letra_s_mayuscula.jpg
/bin/Multimedia/stim_letra_s_mayuscula.psd
/bin/Multimedia/pequenas/stim_letra_u_mayuscula.jpg
/bin/Multimedia/stim_letra_u_mayuscula.jpg
/bin/Multimedia/stim_letra_u_mayuscula.psd
/bin/Multimedia/pequenas/stim_letra_z_mayuscula.jpg
/bin/Multimedia/stim_letra_z_mayuscula.jpg
/bin/Multimedia/stim_letra_z_mayuscula.psd
/bin/Multimedia/pequenas/stim_linea_horizontal.jpg
/bin/Multimedia/stim_linea_horizontal.jpg
/bin/Multimedia/pequenas/stim_linea_vertical.jpg
/bin/Multimedia/stim_linea_vertical.jpg
/bin/Multimedia/pequenas/stim_pancita_abajo.jpg
/bin/Multimedia/stim_pancita_abajo.jpg
/bin/Multimedia/pequenas/stim_pancita_arriba.jpg
/bin/Multimedia/stim_pancita_arriba.jpg
/bin/Multimedia/stim_pancita_arriba.psd
/bin/Multimedia/pequenas/stim_pancita_derecha.jpg
/bin/Multimedia/stim_pancita_derecha.jpg
/bin/Multimedia/pequenas/stim_pancita_izquierda.jpg
/bin/Multimedia/stim_pancita_izquierda.jpg
/bin/com/vitact/eegcontrol/bean/StudyBean.class
/bin/com/vitact/eegcontrol/ThreadCompleteListener.class
/bin/Multimedia/Thumbs.db
/bin/protoc/TRAIN-A-ARGENTINA.lst
/bin/protoc/TRAIN-CIRCULO-ARGENTINA.lst
/bin/protoc/TRAIN-CUADRADO-ARGENTINA.lst
/bin/protoc/TRAIN-CURVA-ABAJO-ARGENTINA.lst
/bin/protoc/TRAIN-CURVA-ARRIBA-ARGENTINA.lst
/bin/protoc/TRAIN-CURVA-DERECHA-ARGENTINA.lst
/bin/protoc/TRAIN-CURVA-IZQUIERDA-ARGENTINA.lst
/bin/protoc/TRAIN-DIAGONAL-ASCENDENTE-ARGENTINA.lst
/bin/protoc/TRAIN-DIAGONAL-DESCENDENTE-ARGENTINA.lst
/bin/protoc/TRAIN-E-ARGENTINA.lst
/bin/protoc/TRAIN-I-ARGENTINA.lst
/bin/protoc/TRAIN-LINEA-HORIZONTAL-ARGENTINA.lst
/bin/protoc/TRAIN-LINEA-HORIZONTAL-VERTICAL-ARGENTINA.lst
/bin/protoc/TRAIN-LINEA-VERTICAL-ARGENTINA.lst
/bin/protoc/TRAIN-M-ARGENTINA.lst
/bin/protoc/TRAIN-N-ARGENTINA.lst
/bin/protoc/TRAIN-O-ARGENTINA.lst
/bin/protoc/TRAIN-P-ARGENTINA.lst
/bin/protoc/TRAIN-RECTANGULO-ARGENTINA.lst
/bin/protoc/TRAIN-S-ARGENTINA.lst
/bin/protoc/TRAIN-TRIANGULO-ARGENTINA.lst
/bin/protoc/TRAIN-U-ARGENTINA.lst
/bin/protoc/TRAIN-Z-ARGENTINA.lst
/bin/Multimedia/white.png
/bin/com/vitact/eegcontrol/VibrateImageThread$1.class
/bin/com/vitact/eegcontrol/VibrateImageThread$2.class
/bin/com/vitact/eegcontrol/VibrateImageThread.class
/bin/com/vitact/eegcontrol/VideoFXML.fxml
/VitaCTEEGControFX.iml
/bin/com/vitact/eegcontrol/opencv/VitaCTSize.class
