<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="Console">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<!-- immediateFlush a true: este es el log que se revisa al diagnosticar la máquina
		     de Dr. Ortiz en remoto, y con escritura diferida se pierden justo las últimas
		     líneas si la aplicación se cae, que son las que interesan. -->
		<File name="MyFile" fileName="EEGControl.log"
			immediateFlush="true" append="false">
			<PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} - %msg%n" />
		</File>
		<!-- Los ${sys:...} llevan valor por defecto para que la configuración se sostenga
		     aunque se cargue antes de que EEGControl.reloadLoggers() defina las propiedades.
		     Sin ellos Log4j crea un directorio llamado literalmente ${sys:studyBaseDir}. -->
		<File name="ProtocolLogFile" fileName="${sys:studyBaseDir:-estudios}/${sys:studyNumber:-0000}/protocolo-${sys:studyNumber:-0000}-${sys:protocolNumber:-00}.log"
			immediateFlush="true" append="false">
			<PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} - %msg%n" />
		</File>
		<File name="EventFile" fileName="${sys:studyBaseDir:-estudios}/${sys:studyNumber:-0000}/eventos-${sys:studyNumber:-0000}-${sys:protocolNumber:-00}.log"
			append="false">
			<PatternLayout pattern="%msg%n" />
		</File>
		<File name="StudyFile" fileName="${sys:studyBaseDir:-estudios}/${sys:studyNumber:-0000}/estudio-${sys:studyNumber:-0000}.dat"
			append="false">
			<PatternLayout pattern="%msg%n" />
		</File>
		<File name="ProtocolFile" fileName="${sys:studyBaseDir:-estudios}/${sys:studyNumber:-0000}/protocolo-${sys:studyNumber:-0000}-${sys:protocolNumber:-00}.dat"
			append="false">
			<PatternLayout pattern="%msg%n" />
		</File>
					</Appenders>
	<Loggers>
		<Root level="trace" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="MyFile" />
		</Root>
		<Logger name="ProtocolLog" additivity="false" level="info">
			<AppenderRef ref="Console" />
		    <AppenderRef ref="ProtocolLogFile" />
		</Logger>
		<Logger name="EventsLog" additivity="false" level="info">
		    <AppenderRef ref="EventFile" />
		</Logger>
		<Logger name="Study" additivity="false" level="info">
		    <AppenderRef ref="StudyFile" />
		</Logger>
		<Logger name="Protocol" additivity="false" level="info">
		    <AppenderRef ref="ProtocolFile" />
		</Logger>
					</Loggers>
</Configuration>
